*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 61);
}
.container{
    height: 300px;
    width: 400px;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
}
.box1{
    height: 100%;
    width: 50%;
    border: 2px solid rgb(59, 59, 4);
}
.box2{
    height: 100%;
    width: 50%;
    border: 2px solid rgb(87, 87, 3);
}
.box1 div, .box2 div{
    height: calc(25% - 10px);
    width: calc(100% - 2px);
    border: 2px solid pink;
    margin: 10px 2px;
    background-color: greenyellow;
}